body {
    padding-top: 120px; 
}

.active {
    color: #00ddff !important;
}
/* nav */
.navbar-small img {
    height: 50px !important;
    transition: 0.3s ease;
}

.navbar-brand img {
    transition: 0.3s ease;
}
/* sezione-1 */
.bg-colour{
    background-color: #222222;
}

/* newsletter */
.newsletter-box {
    background: linear-gradient(180deg, rgba(0, 20, 30, 0.6), rgba(10, 0, 30, 0.6));
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
}

.gradient-btn {
    background: linear-gradient(90deg, #00c4ff, #7a00ff);
    border: none;
}


